.table-container {
    width: 100%;
    overflow-x: auto;
    text-align: center;
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .styled-table th,
  .styled-table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .styled-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .pagination {
    display: flex;
    justify-content: right;
    margin-top: 15px;
  }
  
  .pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    margin: 0 1px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .clickable-column {
    color: blue;
    text-decoration: none;
  }
  
  .clickable-column:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  